<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=put" method="POST">
  <%- include('_formInput.ejs') %>
  <div class="form-row btn-row form-row-end">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
